<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/stylesheets/homepage.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <title>Rare plants lab</title>
</head>

<header>
    <i class="fa-solid fa-bars header-icon burger"></i>
    <h1>Rare Plants Lab</h1>
    <i class="fa-solid fa-cart-shopping header-icon cart"></i>
    <i class="fa-solid fa-user header-icon user"></i>
</header>
<body>
    <script src="/static/scripts/homepage.js"></script>
</body>
</html>


