$green: #17301C;
$white: white;
$black: black;
$grey: #7D8C85;

$font: 'Lato', sans-serif;


* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: $font;
}

.flex {
    display: flex;
}

.button {
    width: 95px;
    height: 30px;
    background-color: $green;
    color: $white;
    border: 1px solid $green;
    border-radius: 20px;
    margin-top: 2vh;
    cursor: pointer;
    .button-text {
        justify-content: center;
        align-self: center;
    }
}

.line-short {
    background-color: $green;
    width: 50px;
    height: 1px;
    align-self: center;
}

.main-container {
    flex-direction: column;
}

.rotate{
    transform: rotateZ(90deg);
}

.drop{
    transform: translateY(200px);
}

.nav-burger {
    position: relative;
    display: inline-block;
    transition-duration: 0.3s;
}

.nav-profile {
    position: relative;
    display: inline-block;
    transition-duration: 0.3s;
}

.burger-dropdown {
    transition-duration: 0.3s;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
    padding-top: 20px;
    z-index: 1;
    position: fixed;
    width: 35vw;
    height: 15vh;
    background-color: rgba(23, 48, 28, 0.8);
    top: -140px;
    gap: 10px;
    a {
        gap: 5px;
        color: $white;
        font-size: 18px;
        text-decoration: none;
    }
}

.profile-dropdown {
    transition-duration: 0.3s;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
    padding-top: 20px;
    z-index: 1;
    position: fixed;
    width: 35vw;
    height: 20vh;
    background-color: rgba(23, 48, 28, 0.8);
    left: 270px;
    top: -140px;
    gap: 10px;
    a {
        gap: 5px;
        color: $white;
        font-size: 18px;
        text-decoration: none;
    }
}

.top-link-container {
    width: 50vw;
    height: 3vh;
    margin-top: 2vh;
    margin-left: 2vh;
    font-size: 18px;
    .link-home {
        color: $green;
    }
    .link-shop {
        color: $green;
        text-indent: 4px;
    }
    .link-category {
        color: $grey;
        text-indent: 4px;
    }
}

header.nav-container {
    z-index: 2;
    top: 0;
    position: sticky;
    background-color: $green;
    justify-content: space-between;
    align-items: center;
    min-height: 60px;
    width: 100vw;
    padding-right: 2vh;
    padding-left: 2vh;
    .nav-title {
        color: $white;
        font-size:  22px;
        font-weight: 400;
    }
    .nav-icon {
        color: $white;
        font-size: 25px;
        cursor: pointer;
    }
}

a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover  {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}

.about-background {
    position: absolute;
    z-index: 0;
    align-self: center;
    height: 40%;
    width: 100%;
    background-image: url("https://www.plantcelltechnology.com/product_images/uploaded_images/plantjes-big.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.about-text-container {
    flex-direction: column;
    justify-content: center;
    position: absolute;
    z-index: 1;
    width: 60%;
    height: 45%;
    background-color: rgba(32, 239, 164, 0.35);
}

.contact-container {
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    gap: 1.5vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
    .socials-container {
        flex-direction: row;
        gap: 15px;
        align-content: center;
        justify-content: center;
    }
    h1 {
        font-size: 16px;
        font-weight: 500;
    }
    h2 {
        font-size: 15px;
        font-weight: 400;
    }
}
.socials {
    color: $black;
    font-size: 30px;
}

.shipping-calculator-container {
    height: 38vh;
    width: 100vw;
    background-color: $green;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 3vh;
    .guarantee-container {
        align-content: center;
        width: 85%;
        gap: 2.5vh;
        flex-direction: column;
        padding-left: 2vh;
        color: $white;
        p:before {
            content: "✓ ";
        }
    }
    .calculator-line {
        height: 1px;
        width: 80%;
        background-color: #7D8C85;
        margin-top: 2vh;
        margin-bottom: 2vh;
    }
    .calculator-container {
        width: 100vw;
        color: $white;
        flex-direction: column;
        gap: 2vh;
        &> h1 {
            text-align: center;
            align-self: center;
            font-size: 20px;
            font-weight: 400;
        }
    .input-container {
        justify-content: center;
        width: 70%;
        flex-direction: column;
        align-self: center;
        form {
            background-color: $green;
            align-self: center;
            .input {
                border: none;
                background: transparent;
                border-bottom: 1px solid $grey;
                outline: none;
                color: $grey;
                width: 100px;
                height: 3vh;
                padding-right: 1vw;
                padding-left: 1vw;
                margin-left: 2vw;
                margin-right: 2vw;
            }
        }
    }
    .shipping-cost {
        width: 80%;
        align-self: center;
        justify-content: center;
        & > p {
            text-align: center;
        }
    }
    }
}

.footer-container {
    width: 100vw;
    height: 20vh;
    background-color: $grey;
}

.bold {
    font-weight: bold;
}

.bold:link {
    text-decoration: underline;
    color: $white;

}
.bold:visited {
    text-decoration: underline;
    color: $white;
}
.bold:hover  {
    text-decoration: underline;
    color: $white;
}
.bold:active {
    text-decoration: underline;
    color: $white;
}

.cards-container {
    width: 100vw;
    height: fit-content;
    padding: 2vh;
    padding-right: 3vh;
    padding-left: 3vh;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    .card-container {
        flex-direction: column;
        margin-top: 1vh;
        margin-bottom: 1vh;
        width: 150px;
        height: 250px;
        .card-image {
            height: 80%;
            width: 100%;
        }
        .card-text {
            margin-top: 1vh;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            color: $black;
            .name {
                font-style: italic;
            }
            .price {
                color: $grey;
            }
        }
    }
}

.card1 {
    background-image: url("https://www.gardencenterwemmel.be/files/images/webshop/philodendron-mamei-1536x1536-623c9ee132d3c_l.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.card2 {
    background-image: url("https://orchideeen-shop.nl/media/catalog/product/cache/1/image/650x/aa7e4a111a6f16aad7d4ccd9a5e97598/a/n/anc.sanderia.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.card3 {
    background-image: url("https://plnts.com/_next/image?url=https%3A%2F%2Fwebshop.plnts.com%2Fmedia%2Fcatalog%2Fproduct%2Fcache%2Faa5d334f459227518b6c3cf7ea9d29ed%2Fp%2Fl%2Fpl.l.029-thumbnail.jpg&w=786&q=100");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.card4 {
    background-image: url("https://www.ecuagenera.com/WebRoot/Store/Shops/ecuagenera/5EC7/E19D/F62F/121C/F501/C0A8/DA02/1275/Philodendron_mamei_aff.._ml.JPG");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.card5 {
    background-image: url("https://www.eliteorchids.com/wp-content/uploads/2021/08/Anoectochilus-roxburghii-hayata-Pointed-Leaves.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.card6 {
    background-image: url("https://cdn.shopify.com/s/files/1/0396/1592/2342/products/philodendron-melanochrysum-plant-36816851468540_1000x1000.jpg?v=1655218980");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}