@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button {
  width: 95px;
  height: 30px;
  background-color: #17301C;
  color: white;
  border: 1px solid #17301C;
  border-radius: 20px;
  margin-top: 2vh;
  cursor: pointer;
}

.button .button-text {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.line-short {
  background-color: #17301C;
  width: 50px;
  height: 1px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.main-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.rotate {
  -webkit-transform: rotateZ(90deg);
          transform: rotateZ(90deg);
}

.drop {
  -webkit-transform: translateY(200px);
          transform: translateY(200px);
}

.nav-burger {
  position: relative;
  display: inline-block;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.nav-profile {
  position: relative;
  display: inline-block;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.burger-dropdown {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 20px;
  padding-top: 20px;
  z-index: 1;
  position: fixed;
  width: 120px;
  height: 120px;
  background-color: rgba(23, 48, 28, 0.8);
  top: -140px;
  gap: 10px;
}

.burger-dropdown a {
  gap: 5px;
  color: white;
  font-size: 18px;
  text-decoration: none;
}

.profile-dropdown {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 20px;
  padding-top: 20px;
  z-index: 1;
  position: fixed;
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 120px;
  height: 150px;
  background-color: rgba(23, 48, 28, 0.8);
  left: 270px;
  top: -160px;
  gap: 10px;
}

.profile-dropdown a {
  gap: 5px;
  color: white;
  font-size: 18px;
  text-decoration: none;
}

header.nav-container {
  z-index: 2;
  top: 0;
  position: -webkit-sticky;
  position: sticky;
  background-color: #17301C;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 60px;
  width: 100vw;
  padding-right: 2vh;
  padding-left: 2vh;
}

header.nav-container .nav-title {
  color: white;
  font-size: 22px;
  font-weight: 400;
}

header.nav-container .nav-icon {
  color: white;
  font-size: 25px;
  cursor: pointer;
}

.shop-container {
  margin-top: 1vh;
  margin-bottom: 1vh;
  height: 45vh;
  width: 100vw;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.shop-background {
  position: absolute;
  z-index: 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 40%;
  width: 100%;
  background-image: url("https://www.jardiner-malin.fr/wp-content/uploads/2020/04/Philodendron.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.shop-text-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  z-index: 1;
  width: 60%;
  height: 45%;
  background-color: rgba(69, 156, 66, 0.35);
}

.text-container {
  color: black;
  font-size: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
}

.top {
  margin-bottom: 1vh;
}

.bottom {
  margin-top: 1vh;
}

a.button-container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

a.button-container:hover {
  background-color: white;
  color: #17301C;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.about-background {
  position: absolute;
  z-index: 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 40%;
  width: 100%;
  background-image: url("https://www.plantcelltechnology.com/product_images/uploaded_images/plantjes-big.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.about-text-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  z-index: 1;
  width: 60%;
  height: 45%;
  background-color: rgba(32, 239, 164, 0.35);
}

.contact-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  gap: 1.5vh;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.contact-container .socials-container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 15px;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-container h1 {
  font-size: 16px;
  font-weight: 500;
}

.contact-container h2 {
  font-size: 15px;
  font-weight: 400;
}

.socials {
  color: black;
  font-size: 30px;
}

.shipping-calculator-container {
  height: 38vh;
  width: 100vw;
  background-color: #17301C;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-top: 3vh;
}

.shipping-calculator-container .guarantee-container {
  -ms-flex-line-pack: center;
      align-content: center;
  width: 85%;
  gap: 2.5vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 2vh;
  color: white;
}

.shipping-calculator-container .guarantee-container p:before {
  content: "✓ ";
}

.shipping-calculator-container .calculator-line {
  height: 1px;
  width: 80%;
  background-color: #7D8C85;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.shipping-calculator-container .calculator-container {
  width: 100vw;
  color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2vh;
}

.shipping-calculator-container .calculator-container > h1 {
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 20px;
  font-weight: 400;
}

.shipping-calculator-container .calculator-container .input-container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 70%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.shipping-calculator-container .calculator-container .input-container form {
  background-color: #17301C;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.shipping-calculator-container .calculator-container .input-container form .input {
  border: none;
  background: transparent;
  border-bottom: 1px solid #7D8C85;
  outline: none;
  color: #7D8C85;
  width: 100px;
  height: 3vh;
  padding-right: 1vw;
  padding-left: 1vw;
  margin-left: 2vw;
  margin-right: 2vw;
}

.shipping-calculator-container .calculator-container .shipping-cost {
  width: 80%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.shipping-calculator-container .calculator-container .shipping-cost > p {
  text-align: center;
}

.footer-container {
  width: 100vw;
  height: 20vh;
  background-color: #7D8C85;
}

.bold {
  font-weight: bold;
}

.bold:link {
  text-decoration: underline;
  color: white;
}

.bold:visited {
  text-decoration: underline;
  color: white;
}

.bold:hover {
  text-decoration: underline;
  color: white;
}

.bold:active {
  text-decoration: underline;
  color: white;
}
/*# sourceMappingURL=homepage.css.map */